<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django boys blog</title>
</head>
<body>
    <div>
        <h1><a href="#">Django Boys Blog</a></h1>
    </div>
    <div>
        <p>published: 25.07.2019, 12:14</p>
    </div>
    <h2><a href="#">My first post</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem commodi consectetur corporis
        delectus dicta doloremque dolores eligendi in incidunt, laboriosam laudantium magnam
        nobis odit pariatur quaerat, qui temporibus, voluptatibus.
    </p>
    <div>
        <p>published: 25.07.2019, 12:14</p>
    </div>
    <h2><a href="#">My second post</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem commodi consectetur corporis
        delectus dicta doloremque dolores eligendi in incidunt, laboriosam laudantium magnam
        nobis odit pariatur quaerat, qui temporibus, voluptatibus.
    </p>
    <div>
        <p>published: 25.07.2019, 12:14</p>
    </div>
    <h2><a href="#">My third post</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem commodi consectetur corporis
        delectus dicta doloremque dolores eligendi in incidunt, laboriosam laudantium magnam
        nobis odit pariatur quaerat, qui temporibus, voluptatibus.
    </p>

</body>
</html>